<span style="color:#000000; background-color:#d3d3d3;">注文情報確認</span>
<div class="container">
  <div class="row">


   <div class="col-lg-8">
  <table border="1" align="center" style="border-collapse: collapse">
  <thead>
    <tr>
      <th class="table-warning">商品名</th>
      <th class="table-warning">単価(税込)</th>
      <th class="table-warning">数量</th>
      <th class="table-warning">小計</th>
    </tr>
  </thead>
  <tbody>
      <% @cart_items.each do |item| %>
     <tr>
       <td><%= attachment_image_tag item.item, :image, format: 'jpeg', size: "50x50" %><%= item.item.name %></td>
       <td><%= item.item.price %></td>
       <td><%= item.amount %></td>
       <td><%= (item.item.price * item.amount) %></td>
       <% end %>
     </tr>
  </tbody>
</table>
</div>

<div class="col-lg-4">
  <% sum = 0 %>
   <% @cart_items.each do |item| %>
    <% sum += (item.item.price * item.amount) %>
     <% end %>

<table border="1">
  <tr>
    <th class="table-warning">商品合計</th>
    <td><%= sum %><td>
  </tr>

  <tr>
    <th class="table-warning">請求金額</th>
    <td><%= sum + @order.shipping_cost %><td>
  </tr>

    <tr>
    <th class="table-warning">送料</th>
    <td><%= @order.shipping_cost %><td>
  </tr>
</table>
</div>
</div>
</div>

<br>
<br>


<table>
  <tr>
    <th>支払方法</th>
    <td>
      <%= form_with model:@order, url:orders_path, local:true do |f| %>
      <%= f.hidden_field :customer_id %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :shipping_cost %>
      <%= f.hidden_field :billing_amount, value: @billing_amount %>
      <%= f.hidden_field :payment_method %>
      <%= @order.payment_method %>
    </td>
  </tr>
<br>
<br>
  <tr>
    <th>お届け先</th>
    <td>
     〒<%= @order.postal_code %>
        <%= @order.address %>
      <br>
      <%= @order.name %>
      <br>
    </td>
  </tr>
</table>
<div class="text-center">
<%= f.submit '注文を確定する', class: "btn btn-success" %>
<% end %>
</div>